/* root colors */
:root {
  --primary-green: #1b5b31;
  --light-green: #2b7553;
  --primary-beige: #dcc1ab;
  --grey: #f5f0ec;
}
/* global style */
body {
  scroll-behavior: smooth;
  font-family: Inter;
}
.flexController {
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.header-font {
  font-family: Montserrat;
  font-weight: 500;
}
/* header style */
.headerBackground {
  background-color: var(--primary-beige);
}
.headerText {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.headerImage {
  height: 100vh;
  max-height: 635px;
  background-size: cover;
}

/* header buttons */
.btn-rounded {
  transition: 500ms;
  border-radius: 200px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  line-height: 150%;
}

.custom-primary-btn {
  background-color: var(--primary-green);
  color: var(--grey);
}
.custom-primary-btn:hover {
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
}
.custom-secondary-btn {
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
}
.custom-secondary-btn:hover {
  background-color: var(--primary-green);
  color: var(--grey);
}
.custom-secondary-btn > i {
  transition: color 500ms;
  font-size: 16px;
  color: var(--primary-green);
}
.custom-secondary-btn:hover path {
  transition: 500ms;
  fill: var(--grey);
}

/* card style */
.card {
  border: none;
}

/* carousel */
.carousel-control-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 60px;
  background-color: var(--primary-beige);
}
#header-carousel {
  width: 100%;
  height: 100%;
}
.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}

/* Offer section */

.offer-section {
  background-color: var(--grey);
  padding: 120px 0 160px;
}

.offer-flex {
  gap: 96px;
}

.offer-card {
  background-color: transparent;
  max-width: 709px;
}

/* about company section */
.about-company {
  background-color: var(--primary-green);
  color: var(--grey);
}
