/* root colors */
:root {
  --primary-green: #1b5b31;
  --light-green: #2b7553;
  --primary-beige: #dcc1ab;
  --grey: #f5f0ec;
  --black: #111;
  --white: #fff;
}
/* global style */
body {
  scroll-behavior: smooth;
  font-family: Inter;
  font-style: normal;
}
.fc-grey {
  color: var(--grey) !important;
}
.inter-font {
  font-family: Inter;
}
.fs-paragraph-lg {
  font-size: 16px !important;
}
.fs-paragraph-md {
  font-size: 14px !important;
}
.fs-paragraph-sm {
  font-size: 12px;
}
.section-paragraph {
  font-family: Inter;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.12px;
}
.container-xxl {
  max-width: 1440px;
}
.flex-controller {
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.header-font {
  font-family: Montserrat;
  font-weight: 500;
  line-height: 115%;
}
.img-fluid {
  height: 100%;
}
.color-green {
  color: var(--primary-green);
}
.bg-color-green {
  background-color: var(--primary-green);
  border: var(--primary-green);
}
.bg-color-green:hover {
  background-color: var(--light-green);
}

/* icons */
.arrow-down {
  vertical-align: middle;
  margin-left: 8px;
}
/* navigation style */
.page-navbar {
  padding: 16px 0;
  @media (min-width: 992px) {
    padding: 16px 85px;
  }
}
#navLinks {
  @media (min-width: 992px) {
    gap: 48px;
  }
}
.nav-link {
  cursor: pointer;
}
.search-bar-clicked {
  top: 210px;
  opacity: 1;
  right: 50%;
  transform: translateX(50%);
  @media (min-width: 992px) {
    top: 15px;
    right: 50px;
    transform: translateX(0);
  }
}
.search-bar {
  opacity: 0;
  top: -50px;
  right: 50%;
  transform: translateX(50%);
  @media (min-width: 992px) {
    right: 50px;
    transform: translateX(0);
  }
}
.search-bar-basic {
  transition: 1s;
  padding: 8px;
  outline: 1px solid var(--grey);
  border: 1px solid var(--grey);
}
/* header style */
.hero-section {
  background-color: var(--primary-beige);
}
.hero-header {
  line-height: 116%;
}
.hero-header-container {
  width: 100%;
  max-width: 599px;
  padding: 40px 0;
}
.hero-text {
  margin-top: 44px;
  margin-bottom: 72px;
  width: 100%;
  max-width: 440px;
}

/* header buttons */
.btn-rounded {
  transition: 500ms;
  border-radius: 200px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  line-height: 150%;
}

.custom-primary-btn {
  background-color: var(--primary-green);
  color: var(--grey);
  min-width: 160px;
}
.custom-primary-btn:hover {
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
}
.custom-secondary-btn {
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
  min-width: 160px;
}
.custom-secondary-btn:hover {
  background-color: var(--primary-green);
  color: var(--grey);
}
.custom-secondary-btn > i {
  transition: color 500ms;
  font-size: 16px;
  color: var(--primary-green);
}
.custom-secondary-btn:hover path {
  transition: 500ms;
  fill: var(--grey);
}

/* card style */
.card {
  border: none;
}

/* carousel */
.carousel-control-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 60px;
  background-color: var(--grey);
}
#header-carousel {
  width: 100%;
  height: 100%;
}
.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.hero-row {
  max-height: 737px;
  box-sizing: border-box;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  max-height: 737px;
  object-fit: cover;
}

/* Offer section */
.offer {
  background-color: var(--grey);
  padding: 120px 20px 160px;
}
.offer-section-header {
  width: 100%;
  max-width: 730px;
  @media (min-width: 992px) {
    margin-left: 160px;
  }
}
.offer-header {
  line-height: 115%;
  letter-spacing: -1.4px;
  color: var(--black);
  margin-bottom: 12px;
}
.offer-header-description {
  align-self: stretch;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
}
.offer-section-cards {
  margin-top: 96px;
  gap: 20px;
}
.offer-box {
  transition: 1s;
  padding: 48px 40px;
  background-color: var(--white);
  border-radius: 28px;

  max-width: 378px;
  overflow: hidden;
}
.offer-box:hover {
  transition: 1s;
  transform: scale(1.1);
}
.offer-box:hover .offer-box-body {
  transition: 500ms;
  opacity: 0;
}
.offer-box-body {
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: 1s;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  transform: translateX(-100%);
}
.overlay-offer-title {
  transition: 1s;
  position: absolute;
  top: 30px;
  left: 10px;
  transform: translateX(200px);
  color: var(--grey);
  background: rgba(0, 0, 0, 0.6);
  padding: 8px;
  border-radius: 8px;
}
.overlay img {
  width: 100%;
  height: auto;
  border-radius: 28px 28px 0 0;
}
.offer-box:hover .overlay {
  transition: 1s;
  transform: translate(0);
}
.offer-box:hover .overlay .overlay-offer-title {
  transition: 2s;
  transform: translate(0);
}
.offer-icon {
  margin-bottom: 32px;
}
.offer-description {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  margin-bottom: 63px;
}
.offer-title {
  z-index: 999;
  font-size: 28px;
  line-height: 115%;
  letter-spacing: -1.4px;
  color: var(--black);
  margin-bottom: 12px;
}
.offer-link,
.offer-link i {
  text-decoration: none;
  transition: 500ms;
  color: var(--primary-green);
}
.offer-link {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--primary-green);
}
.offer-link:hover {
  border-bottom: 1px solid var(--primary-beige);
}
.offer-link:hover,
.offer-link:hover i {
  color: var(--primary-beige);
}

/* about company section */
.about-company-section {
  background-color: var(--primary-green);
  box-sizing: border-box;
}
.about-company {
  color: var(--grey);
  padding: 30px 30px;
  justify-content: center;
  @media (min-width: 992px) {
    justify-content: end;
  }
}
.max-width-custom {
  max-width: 100%;
}
.about-company .header-font {
  font-size: 48px;
  line-height: 115%;
  letter-spacing: -1.44px;
  max-width: 250px;
}
.about-company-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  width: 100%;
  font-style: normal;
  max-width: 500px;
}
.about-info-container {
  max-width: 500px;
}
.about-image {
  max-width: 688px;
}
/* projects */
.projects {
  background-color: var(--primary-beige);
  padding: 120px 0 44px;
  margin-bottom: 60px;
}
#project-gallery {
  max-height: 1600px;
  overflow: auto;
}
#project-gallery::-webkit-scrollbar {
  display: none;
}
.projects-header-section {
  margin-bottom: 96px;
}
#loadMore {
  max-width: 100px;
  bottom: 89.5px;
}
/* test */
.grid {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
.project-gallery::after {
  transition: 1s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
}
.grid-item {
  width: 100%;
  max-width: 451px;
}
.gallery-item {
  width: 100%;
  max-width: 451px;
  height: auto;
}
.grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.grid-item {
  margin-bottom: 42px;
}
/* social media section */
.instagram-container {
  background-color: var(--primary-green);
  padding: 120px 20px;
}

.social-header {
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -2px;
  color: var(--grey);
}
/* footer */
.autograph__path {
  fill: var(--grey);
}
.page-footer {
  background-color: var(--black);
  color: var(--grey);
  padding: 80px 12px;
  margin-top: 60px;
}
.footer-logo {
  margin-bottom: 40px;
  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}
.footer-section-wrapper {
  width: 100%;
  max-width: 1040px;
}
